/* עיצוב הקונטיינר של הבקשות בגריד */
.volunteer-page .requests_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 עמודות */
    gap: 20px; /* רווח בין האלמנטים */
    padding: 20px;
  }
