.nav-bar {
  width: 100%;
  background-color: #ecebe6;
  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 20%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 1%;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #213547;
  text-decoration: none;
  font-size: 1.3em;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #6096bf;
}

img {
  width: 140px;
  height: 80px;
  align-items: center;
}
